.circle-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.circle-container > * {
	position: fixed;
	top: 50%;
    left: 50%;
}
 .circle-container > *:nth-of-type(1) {
	transform: rotate(0deg) translate(15em) rotate(0deg);
}
 .circle-container > *:nth-of-type(2) {
	transform: rotate(30deg) translate(15em) rotate(-30deg);
}
 .circle-container > *:nth-of-type(3) {
	transform: rotate(60deg) translate(15em) rotate(-60deg);
}
 .circle-container > *:nth-of-type(4) {
	transform: rotate(90deg) translate(15em) rotate(-90deg);
}
 .circle-container > *:nth-of-type(5) {
	transform: rotate(120deg) translate(15em) rotate(-120deg);
}
 .circle-container > *:nth-of-type(6) {
	transform: rotate(150deg) translate(15em) rotate(-150deg);
}
 .circle-container > *:nth-of-type(7) {
	transform: rotate(180deg) translate(15em) rotate(-180deg);
}
 .circle-container > *:nth-of-type(8) {
	transform: rotate(210deg) translate(15em) rotate(-210deg);
}
.circle-container > *:nth-of-type(9) {
	transform: rotate(240deg) translate(15em) rotate(-240deg);
}
 .circle-container > *:nth-of-type(10) {
	transform: rotate(270deg) translate(15em) rotate(-270deg);
}
 .circle-container > *:nth-of-type(11) {
	transform: rotate(300deg) translate(15em) rotate(-300deg);
}
 .circle-container > *:nth-of-type(12) {
	transform: rotate(330deg) translate(15em) rotate(-330deg);
}
.circle-container > *:nth-of-type(12):hover {
	transform: rotate(330deg) translate(15em) rotate(-330deg);
}
 .circle-container svg {
    height: 3rem;
	max-width: 100%;
	transition: 0.15s;
}
 .circle-container svg:hover {
	transform: scale(1.5);
	fill: red;
}